{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid section--box">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="mt-5 pt-5">
                    {% include 'layout/subnav_admin.html.twig' %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
                <div class="container--section--admin pl-lg-5">
                    <div class="section--admin p-lg-2">
                        <h1 class="pt-5">Les Utilisateurs</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom et prénom :</th>
                                <th>Pseudonyme :</th>
                                <th>Photo :</th>
                                <th>Rôles :</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {% if user.member != null %}
                                            {{ user.member.memberName }}
                                            {{ user.member.memberSurname }}
                                        {% endif %}
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                    {% if user.member != null %}
                                        <img src="{{ vich_uploader_asset(user.member, 'imageFile') }}" style="width: 3vw; height: auto;">
                                    {% endif %}
                                    </td>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">Détail</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Personne ici !</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
