{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav_admin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid section--box">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="mt-5 pt-5">
                    {% include 'layout/subnav_admin.html.twig' %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
                <div class="container--section--admin pl-lg-5">
                    <div class="section--admin p-lg-2">
                        <h1 class="pt-5">{{ user.username }}</h1>
                        <table class="table">
                            <tbody>
                            {% if user.member != null %}
                            <tr>
                                <th>Nom et prénom :</th>
                                <td>
                                    {{ user.member.memberName }}
                                    {{ user.member.memberSurname }}
                                </td>
                            </tr>
                                <th>A propos :</th>
                                <td>{{ user.member.memberStory }}</td>
                            <tr>
                                <th>Adresse électronique :</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance :</th>
                                <td>{{ user.member.memberBirthDate ? user.member.memberBirthDate|date('d-m-Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Member_information</th>
                                <td>{{ user.member.memberInformation }}</td>
                            </tr>
                            <tr>
                                <th>Member_phone</th>
                                <td>{{ user.member.memberPhone }}</td>
                            </tr>
                            <tr>
                                <th>Statut :</th>
                                <td>{{ user.member.memberStatut ? user.member.memberStatut|json_encode : '' }}</td>
                            </tr>
                            <tr>
                                <th>Rôles :</th>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <a href="{{ path('user_index') }}">back to list</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        {{ include('admin/user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

