{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <ul class="adresses">
            {% for adress in form.adresses %}
                <li>
                    <p>{{ form_row(adress.adress_street_number) }}</p>
                    <p>{{ form_row(adress.adress_street_name) }}</p>
                    <p>{{ form_row(adress.adress_information) }}</p>

                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.event_title) }}</div>
    <div class="col-md-4">{{ form_row(form.event_subtitle) }}</div>
    <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.event_description) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.event_date_start) }}</div>
    <div class="col-md-6">{{ form_row(form.event_date_end) }}</div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.event_story) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.adresses) }}</div>
    <div class="col-md-6 pt-5"><a href="{{ path('adress_new') }}" class="btn btn-info">Créer une adresse</a></div>
</div>

<div class="row">
    <button class="col-md-2 mr-2 btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    <a class="col-md-2 btn btn-primary" href="{{ path('event_index') }}">Retour à la liste</a>
</div>
{{ form_end(form) }}
