{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid section--box">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="mt-5 pt-5">
                    {% include 'layout/subnav_admin.html.twig' %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
                <div class="container--section--admin pl-lg-5">
                    <div class="section--admin p-lg-2">
                        <div class="row">
                            <div class="col-6">
                                <h1 class="pt-5">Liste des évènements</h1>
                            </div>
                            <div class="col-6">
                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary mt-5" href="{{ path('event_new') }}">Créer un nouvel évènement</a>
                                {% endif %}
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Image</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                {% endif %}
                                <th>Ville</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.eventTitle }}</td>
                                    <td><img src="{{ vich_uploader_asset(event, 'imageFile') }}" style="width: 10vw; height: auto;"></td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>{{ event.eventDateStart ? event.eventDateStart|date('d-m-Y') : '' }}</td>
                                    <td>{{ event.eventDateEnd ? event.eventDateEnd|date('d-m-Y') : '' }}</td>
                                    {% endif %}
                                    <td>
                                        {% if not event.adresses.empty %}
                                            {% for Adress in event.adresses %}
                                                {{ Adress.city.CityName }}
                                            {% endfor %}
                                        {% endif %}
                                    </td>

                                    <td>
                                        <a class="btn btn-info" href="{{ path('event_show', {'id': event.id}) }}">Détails</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-warning" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                                        {% endif %}
                                        <a class="btn btn-warning" href="{{ path('event_write', {'id': event.id}) }}">Ecrire un article</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">Pas d'évènements enregistrés.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
