{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid section--box">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="mt-5 pt-5">
                    {% include 'layout/subnav_admin.html.twig' %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
                <div class="container--section--admin pl-lg-5">
                    <div class="section--admin p-lg-2">
                        <h1 class="pt-5">{{ member.memberName }} {{ member.memberSurname }}</h1>
                        <img  class="pb-3" src="{{ vich_uploader_asset(member, 'imageFile') }}" style="width: 10vw; height: auto;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Date de naissance :</th>
                                    <td>{{ member.memberBirthDate ? member.memberBirthDate|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Date d'entrée :</th>
                                    <td>{{ member.memberMembershipDate ? member.memberMembershipDate|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Informations :</th>
                                    <td>{{ member.memberInformation }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone :</th>
                                    <td>{{ member.memberPhone }}</td>
                                </tr>
                                <tr>
                                    <th>Hitoire :</th>
                                    <td>{{ member.memberStory }}</td>
                                </tr>
                                <tr>
                                    <th>Statut :</th>
                                    <td>{{ member.memberStatut ? member.memberStatut|json_encode : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


