{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}

<!--
<img src="{{ asset('build/pik/Clan_Stewart_tartan.svg.png') }}" class="background--page" alt="...">
-->
<div class="container-fluid section--box">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="mt-5 pt-5">
                {% include 'layout/subnav_admin.html.twig' %}
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
            <div class="container--section--admin pl-lg-5">
                <div class="section--admin p-lg-2">
                    <h1 class="section--admin--title text-center pt-3 pb-3">Administration</h1>

                    <div class="container-fluid">
                        <div class="row">
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-lg-6">
                                <div class="container--article--admin p-1">
                                    <div class="article--admin p-5">
                                        <h3 class="article--title--admin text-center p-2"><a href="{{ path('member_index') }}">Les Membres</a></h3>
                                        <div class="row">
                                        {% for member in members %}
                                            {% if member != null %}
                                            <div class="col-6 clearfix musicien-box container--btn--username mt-4"><a class="btn--username p-2" href="{{ path('member_show', {'id': member.id}) }}">
                                                    {{ member.memberName }}
                                                    {{ member.memberSurname }}
                                                </a></div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-lg-6">
                                <div class="container--article--admin-2 p-1">
                                    <div class="article--admin p-5">
                                        <h3 class="article--title--admin text-center p-2"><a href="{{ path('event_index') }}">Les Evènements</a></h3>
                                        {% for event in events %}
                                            <div class="container--btn--username mt-4"><a class="btn--username p-2" href="{{ path('event_show', {'id': event.id}) }}">{{ event.eventTitle }}</a></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="mt-5 pb-5">Vous êtes dans l'interface d'administration. Tous ce que vous enregistrez, sauvegardez,
                        validez, sera visible de vos visiteurs...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}