{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <!-- EventController -->
<div class="container-fluid section--box">
    <div class="row">

        <div class="col-lg-3 col-md-3">
            {% include 'layout/subnav.html.twig' %}
        </div>

        <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
            <div class="p-5">
                <div class="event--card ">
                    <h1 class="pt-5 event-title-show">{{ event.eventTitle }}</h1>
                    <h5 class="event-title">{{ event.eventSubtitle }}</h5>
                    <p>
                        {% for Adress in event.adresses %}
                            {{ Adress.city.CityName }},
                        {% endfor %}
                        le {{ event.eventDateStart ? event.eventDateStart|date('d/m/Y') : '' }}.
                    </p>
                    <img class="img-fluid" src="{{ vich_uploader_asset(event, 'imageFile') }}">
                    <p>
                        {{ event.eventDescription }}
                    </p>
                    <p class="text-justify">
                        {{ event.eventStory }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="gallery">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}