{{ form_start(form) }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">{{ form_row(form.adress_title) }}</div>
        <div class="col-md-3">{{ form_row(form.adress_street_number) }}</div>
        <div class="col-md-6">{{ form_row(form.adress_street_name) }}</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">{{ form_row(form.adress_information) }}</div>
        <div class="col-md-3">
            <div class="city">
                <p>{{ form_row(form.city.city_name) }}</p>
                <p>{{ form_row(form.city.city_postcode) }}</p>
                <p>{{ form_row(form.city.city_country) }}</p>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-success mr-2" >{{ button_label|default('Sauvegarder') }}</button>
<a class="btn btn-primary" href="{{ path('adress_index') }}">Retour à la liste</a>
<a class="btn btn-warning" href="{{ path('event_new') }}">Créer un nouvel évènement</a>
{{ form_end(form) }}
