{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid section--box">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="mt-5 pt-5">
                    {% include 'layout/subnav_admin.html.twig' %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
                <div class="container--section--admin pl-lg-5">
                    <div class="section--admin p-lg-2">
                        <div class="row">
                            <div class="col-6">
                                <h1 class="pt-5">Les adresses</h1>
                            </div>
                            <div class="col-6">
                                <a  class="btn btn-success mt-5" href="{{ path('adress_new') }}">Créer une nouvelle adresse</a>
                                <a class="btn btn-warning mt-5" href="{{ path('event_new') }}">Créer un nouvel évènement</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Titre :</th>
                                <th>Rue :</th>
                                <th>Lieu :</th>
                                <th>Ville :</th>
                                <th>Actions :</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for adress in adresses %}
                                <tr>
                                    <td>{{ adress.adressTitle }}</td>
                                    <td>{{ adress.adressStreetName }}</td>
                                    <td>{{ adress.adressInformation }}</td>
                                    <td>{{ adress.city.CityName }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('adress_show', {'id': adress.id}) }}">show</a>
                                        <a class="btn btn-warning" href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
