{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
<div class="container-fluid section--box">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 xs-12">
            <div class="card text-dark p-5">
                <h1 class="pt-5 card-title">Les adresses</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress_street_number</th>
                <th>Adress_street_name</th>
                <th>Adress_information</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.adressStreetNumber }}</td>
                <td>{{ adress.adressStreetName }}</td>
                <td>{{ adress.adressInformation }}</td>
                <td>{{ adress.city.CityName }}</td>
                <td>{{ adress.city.CityCountry }}</td>
                <td>
                    <a href="{{ path('adress_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adress_new') }}">Créer une nouvelle adresse</a>
    <a href="{{ path('event_new') }}">Créer un nouvel évènement</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
